h1 {
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

.center {
  text-align: center;
}

#submit {
  text-align: center;
  padding: 10px;
}

.alert{
  text-align: center;
  padding:10px;
  background:#79c879;
  color:#fff;
  margin-bottom:10px;
  display:none;
}