.jumbotron.text-dark {
  padding-top: 100px;
}

p {
  padding-top: 50px;
  margin-bottom: 16;
}

.h1, h1 {
  padding-bottom: 30px;
  font-size: 32px;
}

.img-fluid, .desk {
  max-width: 100%;
  height: auto;
}

